@using Microsoft.AspNetCore.Mvc.TagHelpers
@model StudentApp.ViewModels.CourseViewModel

@{
    ViewBag.Title = @$"{Model.Title} - {Model.Category}";
    Layout = "_Layout";
}

<article class="content-wrapper">
    <div class="teacher-title-container">
        <h1 class="text-primary">@Model!.Title</h1>
        <h1 class="text-primary">@Model!.CourseNo</h1>
    </div>
    <section class="course-detail-wrapper">
        <div class="text-course"></div>
        <div class="text-course">@Model!.Length</div>
        <div class="text-course">@Model!.Details</div>
        <div class="text-course">@Model.Description</div>
        <div class="text-course">@Model!.Teacher</div>
        <a class="btn-return" asp-action="Categories">
            <i class="fa-solid fa-left-long"></i>
            Return
        </a>
    </section>
</article>
