@model System.Collections.Generic.List<StudentApp.ViewModels.CourseOverviewModel>

@{
    ViewBag.Title = "Westcoast Education";
    Layout = "_Layout";
}



<article class="content-wrapper">
    <section class="page-content">
        <h2>Westcoast Education</h2>
        <p class="text-primary">
            
        </p>
    </section>
</article>
