@{
    ViewData["Title"] = "Home";
}

<article class="content-wrapper">
    <section class="page-content">
        <h2 class="text-primary">Westcoast Education</h2>
        <p class="text-primary">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed elementum semper metus, ac faucibus nibh viverra non. Curabitur rhoncus, ex eu venenatis accumsan, mi nunc maximus libero, ac elementum arcu turpis ut purus. Mauris id porta massa. Vivamus suscipit quam vel dapibus aliquam. Sed viverra justo ut varius pharetra. Nunc sed porttitor nulla. Nullam suscipit hendrerit enim, vitae ultricies augue ultricies in. Nullam justo nulla, volutpat id lorem nec, tincidunt laoreet enim. Vestibulum euismod lorem nulla, sit amet lobortis felis commodo eget. Praesent congue blandit augue suscipit varius. Morbi ut bibendum neque. Integer odio massa, consequat sed elit id, ultrices malesuada dolor. Donec semper tincidunt neque, condimentum condimentum justo tincidunt et. Pellentesque tempus congue metus, sit amet mollis metus maximus non. Ut dui leo, porta a nisl ac, consequat euismod velit. 
        </p>
    </section>
</article>