:root
{
  --height-navbar: 4rem;
  
  --primary-color: #292C3C;
  --border-color: #949BB7;
  --primary-text-color: #4C4F69;
  --secondary-text-color: #5C5F77;
  --content-background-color: #f5e0dc;
  --background-color: #fcf4f3;
  --light-color: #9CA0B0;
  --dark-color: #414559;
  --navbar-color: #E64553;
  --navbar-text-color: #EEBEBE;
  --navbar-title-color: #DD7878
}