:root
{
  --primary-color: #292C3C;
  --border-color: #949BB7;
  --primary-text-color: #4C4F69;
  --secondary-text-color: #5C5F77;
  --background-color: #EFF1F5;
  --light-color: #9CA0B0;
  --dark-color: #414559;
  --navbar-color: #FA4B5B;
  --navbar-text-color: #EEBEBE;
  --navbar-title-color: #DD7878
}