<div class="teachers-footer">
    <a asp-action="Categories" asp-controller="Teachers" class="btn-teachers">Sort by competencies</a>
    <a asp-action="Teachers" asp-controller="Teachers" class="btn-teachers">List teachers</a>
    <a asp-action="CreateTeacher" asp-controller="Teachers" class="btn-teachers">Add new teacher</a>
</div>

