<div class="items-footer">
    <a asp-action="Categories" asp-controller="Teachers" class="btn-items">Sort by competencies</a>
    <a asp-action="Teachers" asp-controller="Teachers" class="btn-items">List teachers</a>
    <a asp-action="RegisterTeacher" asp-controller="Teachers" class="btn-items">Add new teacher</a>
</div>

