@model AdminApp.ViewModels.Teachers.AddTeacherCourseViewModel

@{
    ViewBag.Title = "Add Course";
    Layout = "_Layout";
}

<article class="content-wrapper">
    <section class="items-wrapper">
        @using(Html.BeginForm("AddTeacherCourse", "Teachers", new { id=Model.Teacher!.Id }, FormMethod.Post))
        {
            @Html.HiddenFor(m => m.Teacher!.Id)
            @Html.DropDownListFor(m => m.SelectedCourseId,
                Model.AvailableCourses)
            
            <input type="submit" class="btn-items" value="Add course" />
        }
    </section>
    <partial name="_TeachersFooterPartial"/>
</article>
