<ul class="navbar-login">
    <li class="nav-link-main">
        <a asp-area="" asp-controller="Auth" asp-action="RegisterUser">Register</a>
    </li>
    <li class="nav-link-main">
        <a asp-area="" asp-controller="Auth" asp-action="Login">Log in</a>
    </li>
</ul>
