<ul class="navbar-nav">
    <li>
        <a class="nav-link text-dark" asp-area="" asp-controller="Auth" asp-action="RegisterUser">Register</a>
    </li>
    <li>
        <a class="nav-link text-dark" asp-area="" asp-controller="Auth" asp-action="Login">Log in</a>
    </li>
</ul>
